body{
  margin: 0 auto;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #c4f8fc;
  padding: 1em;
}

h1, h2, h3, container, .user.profile {
  text-align: center;
}

.container.hub{
  display: flex;
  flex-direction: row;
}

.container.hub > div{
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
  width: 66%;
  margin: 1px auto;
}

button {
  max-width: 33%;
}