body{
  margin: 0 auto;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1, h2 {
  text-align: center;
}

.container.hub{
  display: flex;
  flex-direction: row;
}

.container.hub > div{
  width: 50%;
}

form{
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 1px auto;
}