<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CB Sales Journal</title>
</head>
<body>
  <a href="/logout">Logout</a>
  <h1>{% block header %}{% endblock %}</h1>

  <h3 class="flashes">{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        {{ message }}
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}</h3>

  <div>{% block content %}{% endblock %}</div>

</body>
</html>