{% extends 'base.html' %}

{% block header %} Welcome to the Hub {% endblock %}

{% block content %}

<h1>{{ user.username }}'s Hub</h1>
<div class="container hub">

  <div class="tasks">
    <h2>Tasks</h2>
    <ul>
      <li><a href="/TBD">Time Clock</a></li>
      <li><a href="/reports/sales/new">End of Night Book</a></li>
      <li><a href="/TBD">Create Maintenance Ticket</a></li>
      <li><a href="/TBD">Message Board</a></li>
    </ul>
  </div>

  <div class="message-board">
    <h2>Message Board</h2>
    <!--
      messages/notes:
      - Week long heads ups, meeting reminders, field trips/visitors expected
      - message board stuff: "AM expect to by busy, Stanford/Cal kickoff @ 1pm" -- username
      - broken things
      - sales predictions via Prophet
      - last night's numbers
    -->
  </div>
</div>

{% endblock %}