{% extends 'base.html' %}

{% block header %} {{ user.username }}'s Hub {% endblock %}

{% block content %}


<div>
  <!--
    messages/notes:
      - Week long heads ups, meeting reminders, field trips/visitors expected
      - message board stuff: "AM expect to by busy, Stanford/Cal kickoff @ 1pm" -- username
      - broken things
      - sales predictions via Prophet
      - last night's numbers
    links that lead to different functions
      - sales reporting
      - eventually clock in/out
  -->
</div>

{% endblock %}