{% extends 'base.html' %}

{% block header %} {{ user.username }}'s Hub {% endblock %}

{% block content %}

<h1>Welcome to the hub </h1>
<div class="container">

  <div class="tasks">
    <a href="/TBD">Time Clock</a>
    <a href="/reports/sales/new">End of Night Book</a>
    <a href="/TBD">Create Maintenance Ticket</a>
    <a href="/TBD">Message Board</a>
  </div>
  
  <div class="message-board">
    <h2>Message Board</h2>
    <!--
      messages/notes:
      - Week long heads ups, meeting reminders, field trips/visitors expected
      - message board stuff: "AM expect to by busy, Stanford/Cal kickoff @ 1pm" -- username
      - broken things
      - sales predictions via Prophet
      - last night's numbers
    -->
  </div>
</div>

{% endblock %}